@{
    ViewData["Title"] = "Read";
}

<h2>Read Parking Data</h2>

<p>This table shows example data that could come from a database in the future.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Lot Name</th>
            <th>Zone</th>
            <th>Total Spaces</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lot 5B</td>
            <td>A</td>
            <td>120</td>
            <td>34</td>
        </tr>
        <tr>
            <td>Lot 3C</td>
            <td>B</td>
            <td>75</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Lot 7A</td>
            <td>C</td>
            <td>200</td>
            <td>98</td>
        </tr>
    </tbody>
</table>
